#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define QWERTY 0
#define BLUETOOTH 1

/ {
    combos {
        compatible = "zmk,combos";
        /*            KEY POSITIONS

          0  1  2  3  4         5  6  7  8  9
         10 11 12 13 14        15 16 17 18 19
         20 21 22 23 24        25 26 27 28 29
                   30 31      32 33             */

        Left_Reset {
            bindings = <&bootloader>;
            key-positions = <0 4 20 24>;
        };

        Right_Reset {
            bindings = <&bootloader>;
            key-positions = <5 9 29 25>;
        };
        Escape {
            bindings = <&kp ESC>;
            key-positions = <1 2>;
        };
        Delete {
            bindings = <&kp DEL>;
            key-positions = <2 3>;
        };
        BluetoothLayer {
            bindings = <&sl BLUETOOTH>;
            key-positions = <4 14 24>;
        };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
     &kp Q       &kp W         &kp E        &kp R      &kp T      &kp Y        &kp U         &kp I       &kp O  &kp P
     &mt LALT A  &mt LGUI S  &mt LCTRL D  &mt LSHIFT F      &kp G      &kp H  &mt RSHIFT J  &mt LCTRL K  &mt LGUI L     &mt LALT ;
     &kp Z       &kp X         &kp C        &kp V      &kp B      &kp N        &kp M     &kp COMMA     &kp DOT       &kp FSLH
                                          &kp TAB  &kp SPACE    &kp RET     &kp BSPC
            >;
        };
        bluetooth_layer {
            bindings = <
                &trans &out OUT_TOG &out OUT_USB &out OUT_BLE &bt BT_SEL 0              &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &bt BT_PRV             &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &bt BT_NXT             &trans &trans &trans &trans &trans
                                         &trans &bt BT_CLR       &trans &trans
                >;
       };
        blank_layer {
            bindings = <
                &trans &trans &trans &trans &trans             &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans             &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans             &trans &trans &trans &trans &trans
                                         &trans &trans       &trans &trans
                >;
       };
    };
};
