#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        Left_Reset {
            bindings = <&bootloader>;
            key-positions = <0 4 20 24>;
        };

        Right_Reset {
            bindings = <&bootloader>;
            key-positions = <5 9 29 25>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
     &kp Q       &kp W         &kp F        &kp P      &kp G      &kp J        &kp L         &kp U       &kp Y  &kp SEMICOLON
&mt LGUI A  &mt LALT R  &mt LSHIFT S  &mt LCTRL T      &kp D      &kp H  &mt LCTRL N  &mt RSHIFT E  &mt LALT I     &mt LGUI O
     &kp Z       &kp X         &kp C        &kp V      &kp B      &kp K        &kp M     &kp COMMA     &kp DOT       &kp FSLH
                                          &kp TAB  &kp SPACE    &kp RET     &kp BSPC
            >;
        };
    };
};
